
@{
    ViewData["Title"] = "Create";
    @model aspnet.Models.Review
}

<h2>Добавление отзыва</h2>
<form asp-action="CreateReview" asp-controller="Home">
    <p>
        <label asp-for="Text">Текст отзыва</label><br />
        <input maxlength="500" width="200" type="text" asp-for="Text"/>
    </p>
    <p>
        <label asp-for="Rating">Оценка</label><br />
        <input step="0.5" max="5" value="0.5" min="0.5" type="number" asp-for="Rating" />
    </p>
    <p>
        <input type="submit" value="Создать" />
    </p>
</form>