
@{
    ViewData["Title"] = "Create";
    IEnumerable<Movie> movies = ViewData["Movies"] as IEnumerable<Movie>;
    @model aspnet.Models.Review
}

<h2>Добавление отзыва</h2>
<form asp-action="CreateReview" asp-controller="Home">
    <p>
        <label asp-for="Text">Текст отзыва</label><br />
        <input maxlength="500" width="200" type="text" asp-for="Text" required />
    </p>
    <p>
        <label asp-for="Rating">Оценка</label><br />
        <input asp-for="Rating" max="5" min="1" type="number" required />
    </p>
    <p>
        <label asp-for="MovieId">Фильм</label><br />
        <select asp-for="MovieId">
            @foreach (Movie m in movies)
            {
                <option value="@m.Id">@m.Name</option>
            }
        </select>
    </p>
    <p>
        <input type="submit" value="Создать" />
    </p>
</form>